@model Personally.WebUI.Models.NoteListModel
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var note in Model.Notes)
                {

                    <p>@note.Owner</p>
                    <p>@note.Title</p>
                    <p>@note.ImageUrl</p>
                    <p>@note.noteCategories</p>
                    <p>@note.Description</p>
                    <hr />


                }
            </div>

        </div>
    </div>