@model NoteDetailModel


<div class="card col-md-8 mb-4">
    <img class="card-img-top" src="~/img/@Model.Note.ImageUrl" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">@Model.Note.Title</h2>
        <p class="card-text">@Model.Note.Description</p>
        <br />
        Posted on January 1, 2017 by @Model.Note.Owner<br />

    </div>
    <div class="card-footer text-muted">
        @foreach (var item in Model.Comments)
        {
            @item.Description <br /> @item.Note.Owner<hr />
        }        <a asp-controller="Home" asp-action="Index">Anasayfaya Dön!</a>

    </div>


</div>
<div class="card col-md-4 mb-4">
   

</div>

    <div class="row">
        <div class="col-md-12">
            <p class="p-3">
               
            </p>
        </div>
    </div>
